<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/icofont/icofont/icofont.min.css' %}" />
</head>

<body>
    <!-- <div class="container"> -->
    {% block content %}
    {% endblock %}
    <!-- </div> -->


    <!-- jQuery library -->
    <script src="{% static "blog/js/jquery-3.4.1.min.js " %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static "blog/js/bootstrap.min.js " %}"></script>
</body>

</html>