<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/icofont/icofont/icofont.min.css' %}" />
</head>

<body>
    <!-- <div class="container"> -->
    {% block content %}
    {% endblock %}
    <!-- </div> -->


    <!-- jQuery library -->
    <script src="{% static "blog/js/jquery-3.4.1.min.js " %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static "blog/js/bootstrap.min.js " %}"></script>

    <script>
        $(document).ready(function () {
            $(".likebtn").click(function (event) {
                event.preventDefault()
                var ansid = $(this).attr('id');
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    data: {
                        'post_id': ansid,
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (response) {
                        $('#like_count' + ansid).text(response['result']);
                        // console.log(response['stated'])
                        if (response['flag']) {
                            $('#' + ansid).addClass('text-danger');
                        } else {
                            $('#' + ansid).removeClass('text-danger');
                        }
                    },
                    error: function (rs, e) {
                        console.log(rs.response)
                    }
                });
            });
        });
    </script>

</body>

</html>