{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class=" row">
      
        {% for post in posts %}
        <div class="col-md-4 my-5">
            <div class="h-100 border hvr-shrink">
                <div class=" text-dark">
                    {% if post.thumbnail %}
                    <img src="{{post.thumbnail.url}}" class="img-fluid product-img" alt="{{post.title}}"
                        style="height: 220px; width: 100%; object-fit: cover; object-position: center;">
                    {% else %}
                    <img src="/media/1.png" alt="no thumbnail"
                        style="height: 220px; width: 100%; object-fit: cover; object-position: center;" />
                    {% endif %}
                    <div class="p-2">
                        <p><b>By</b>: {{ post.author }} </p>
                        <h2 class="pb-2 h3"> {{ post.title|truncatechars:40 }} </h2>
                    </div>
                    
                    
                    <div class="bg-light py-2 px-3 ml-2 mb-1" style="display: inline-block; border-radius: 20px;">
                            <button type="button" id="{{ post.pk }}" data-url="{% url 'blog:post_like' %}"
                            class="btn border-0 likebtn m-0 p-0">
                            <i id="icons" class="icofont icofont-thumbs-up icofont-2x"></i>
                        </button>
                        <span id="like_count{{post.pk}}" class="like_count mt-3 pl-2">{{post.total_likes}}</span>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}

